.announcements-header-section {
	min-height: 400px;
	width: 100%;
	background-image: url("../images/bg.jpg");
	background-size: cover;

	h2 {
		font-size: 98px;
		color: #fff;
		font-family: 'DINProBold';

		@media screen and (max-width: $break-1360) {
			font-size: 60px;
		}

		@media screen and (max-width: $break-768) {
			font-size: 44px;
		}
	}

	@media screen and (max-width: $break-1360) {
		min-height: 350px;
	}

	@media screen and (max-width: $break-480) {
		min-height: 200px;
	}
}

.announcements-section {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 100px 0 200px;

	.announcements-column {
		width: 50%;
		float: left;
		padding: 0 30px;

		.announcements-item {
			width: 100%;
			display: block;
			padding: 40px 0;
    		border-top: 1px solid #f8f9fa;

			.announcements-container {
				overflow: hidden;

				.announcements-image {
					flex: 1;
					font-size: 0;

					img {
						width: 100%;
					}
				}
				.announcements-date {
					flex: 1;
					background: #e3e6ea;

					span {
						font-size: 46px;
						color: #fff;
						font-family: 'AvenirNextBold';

						@media screen and (max-width: $break-1024) {
							font-size: 36px;
						}

						@media screen and (max-width: $break-768) {
							font-size: 46px;
						}

						@media screen and (max-width: $break-480) {
							font-size: 32px;
						}
					}
				}
			}

			.announcements-title {
				font-size: 27px;
				font-family: 'AvenirNextBold';
				color: #000;
				margin-top: 20px;

				@media screen and (max-width: $break-1024) {
					font-size: 22px;
				}
			}

			&:first-of-type {
			    padding-top: 70px;
			    border: none;

			    @media screen and (max-width: $break-768) {
			    	padding: 40px 0;
    				border-bottom: 1px solid #f8f9fa;
			    }
			}

			&:hover {
				.announcements-title {
					color: $color-blue;
				}
			}

			@media screen and (max-width: $break-768) {
		    	padding: 40px 0;
		    	border-top: 0;
				border-bottom: 1px solid #f8f9fa;
		    }
		}

		@media screen and (max-width: $break-768) {
			float: none;
			width: 100%;
		}
	}

	@media screen and (max-width: $break-1360) {
		padding: 15px 0 150px;
	}

	@media screen and (max-width: $break-480) {
		padding: 20px 0 50px;
	}
}