.communities-header-section {
	min-height: 400px;
	width: 100%;
	background-image: url("../images/bg.jpg");
	background-size: cover;

	h2 {
		font-size: 98px;
		color: #fff;
		font-family: 'DINProBold';

		@media screen and (max-width: $break-1360) {
			font-size: 60px;
		}

		@media screen and (max-width: $break-768) {
			font-size: 44px;
		}
	}

	@media screen and (max-width: $break-1360) {
		min-height: 350px;
	}

	@media screen and (max-width: $break-480) {
		min-height: 200px;
	}
}

.communities-section {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 100px 0;

	.communities-column {
		width: 50%;
		float: left;
		padding: 30px;

		.communities-item {
			margin-bottom: 70px;
			
			img {
				width: 100%;
			}

			.communities-info {
				overflow: hidden;

				h2 {
					font-size: 24px;
					color: #000;
					margin: 35px 0;
					font-family: 'DINProBold';
				}

				.info-text {
					border-top: 1px solid rgba(0, 0, 0, 0.1);
					font-size: 16px;
					line-height: 50px;
					color: #000;

					.info-text-name {
						display: inline-block;
						min-width: 245px;
						opacity: 0.6;

						@media screen and (max-width: $break-1024) {
							min-width: 200px;
							width: 50%;
						}

						@media screen and (max-width: $break-480) {
							min-width: 155px;
						}
					}

					.info-value {
						font-family: 'AvenirNextBold';
					}

					&:last-of-type {
						border-bottom: 1px solid rgba(0, 0, 0, 0.1);
					}

					@media screen and (max-width: $break-1024) {
						font-size: 15px;
					}

					@media screen and (max-width: $break-480) {
						font-size: 12px;
					}
				}
			}
		}

		@media screen and (max-width: $break-768) {
			float: none;
			width: 100%;
		}
	}

	@media screen and (max-width: $break-768) {
		padding: 50px 0;
	}
}