.create-header-section {
	min-height: 400px;
	width: 100%;
	background-image: url("../images/bg1.jpg");
	background-size: cover;
	color: #fff;

	h2 {
		font-size: 98px;
		font-family: 'DINProBold';
		text-align: center;

		@media screen and (max-width: $break-1360) {
			font-size: 60px;
		}

		@media screen and (max-width: $break-768) {
			font-size: 44px;
		}
	}

	p {
		font-size: 28px;
	}

	@media screen and (max-width: $break-1360) {
		min-height: 350px;
	}

	@media screen and (max-width: $break-480) {
		min-height: 200px;
	}
}

.create-section {
	overflow: hidden;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0 100px;

	.create-column {
		width: 50%;
		float: left;
		padding: 0 30px;

		.create-item {
			overflow: hidden;
			padding: 40px 0;
    		border-top: 1px solid #f8f9fa;

			.create-item-img {
				max-width: 200px;
				margin-right: 30px;
				flex: 1;

				img {
					width: 100%;
				}

				@media screen and (max-width: $break-480) {
			    	margin-right: 0;
			    }
			}

			.text-container {
				flex: 2;
				.create-item-title {
					font-size: 26px;
					font-weight: bold;
					color: #000;
					font-family: 'AvenirNextBold';

					@media screen and (max-width: $break-480) {
				    	font-size: 20px;
				    	margin-top: 10px;
				    }
				}

				.create-item-load {
					margin-top: 20px;
					font-size: 14px;
					text-transform: uppercase;
					color: #2797c9;
					font-family: 'DINProBold';

					i {
						margin-right: 20px;
					}
				}

				@media screen and (max-width: $break-480) {
			    	text-align: center;
			    }
			}

			&:first-of-type {
			    padding-top: 70px;
			    border: none;

			    @media screen and (max-width: $break-768) {
			    	padding: 40px 0;
    				border-bottom: 1px solid #f8f9fa;
			    }
			}

			@media screen and (max-width: $break-768) {
		    	padding: 40px 0;
		    	border-top: 0;
				border-bottom: 1px solid #f8f9fa;
		    }

		    @media screen and (max-width: $break-480) {
		    	flex-direction: column;
		    	align-items: center;
		    }
		}

		@media screen and (max-width: $break-768) {
			float: none;
			width: 100%;
		}
	}
}