footer.flex-container.animate
	.footer-nav
		h4.footer-title Карта сайту
		ul
			li.footer-nav-item
				a(href="#") Про проект
			li.footer-nav-item
				a(href="../pages/communities.html") Громади
			li.footer-nav-item
				a(href="../pages/create.html") Як створити ЦНАП
			li.footer-nav-item
				a(href="../pages/news.html") Новини
			li.footer-nav-item
				a(href="../pages/announcements.html") Анонси
			li.footer-nav-item
				a(href="#") Історії успіху
			li.footer-nav-item
				a(href="../pages/team.html") Команда
	.footer-project.flex-container.flex-direction-column.flex-justify-content-space-between
		div
			h4.footer-title Проект
			img(src="../images/footer-logos.jpg", alt="")
			p.footer-project-text U-LEAD є міжнародною програмою, яка фінансується за рахунок донорської підтримки Європейського Союзу та його держав-членів Данії, Естонії, Німеччини, Польщі та Швеції
		a(href="#").footer-auth Розробка сайту - demch.co
	.footer-contacts.flex-container.flex-direction-column.flex-justify-content-space-between
		div
			h4.footer-title Контакти
			a(href="tel:+46087887500").footer-contact-link.fa.fa-phone 
				span +46 (0) 8 788 75 00
			a(href="mailto:exp-hkv@mil.se").footer-contact-link.fa.fa-envelope 
				span exp-hkv@mil.se
			a(href="#").footer-contact-link.fa.fa-facebook-official 
				span Facebook
		p Проект реалізується
			a(href="#") SKL International
