.mobile-menu-popup
	.menu-header.flex-container.flex-justify-content-space-between
		a(href="../index.html").header-logo
			p.logo-title U-LEAD
			p.logo-subtitle Покращення якості місцевих 
				span послуг для населення
		.flex-container.flex-align-items-center
			.header-language.flex-container.flex-align-items-center
				a(href="#") Eng
			.header-social.flex-container.flex-align-items-center
				a(href="#").header-facebook.fa.fa-facebook
				a(href="#").header-search.fa.fa-search
			.header-mobile-menu.flex-container.flex-align-items-center
				a(href="#").mobile-menu-popup-close.fa.fa-times
	
	ul.menu-header-nav.flex-container.flex-direction-column.flex-align-items-center.flex-justify-content-center
		li.header-nav-item
			a(href="#") Про проект
		li.header-nav-item
			a(href="../pages/communities.html") Громади
		li.header-nav-item
			a(href="../pages/create.html") Як створити ЦНАП
		li.header-nav-item
			a(href="../pages/news.html") Новини
		li.header-nav-item
			a(href="../pages/announcements.html") Анонси
		li.header-nav-item
			a(href="../pages/team.html") Команда