doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title U-LEAD
		link(href='../styles/main.css', rel='stylesheet')
	body
		include components/header
		section.announcements-header-section.flex-container.flex-align-items-center.flex-justify-content-center
			h2 Анонси
		section.announcements-section
			.announcements-column
				a(href="#").announcements-item
					.announcements-container.flex-container
						.announcements-image
							img(src="../images/ann1.jpg", alt="")
						.announcements-date.flex-container.flex-justify-content-center
							span.flex-align-self-center 20.03
					p.announcements-title Не дуже довгий заголовок новини або достатньо довгий заголовок
				a(href="#").announcements-item
					.announcements-container.flex-container
						.announcements-image
							img(src="../images/ann2.jpg", alt="")
						.announcements-date.flex-container.flex-justify-content-center
							span.flex-align-self-center 20.03
					p.announcements-title Не дуже довгий заголовок новини або достатньо довгий заголовок
				a(href="#").announcements-item
					.announcements-container.flex-container
						.announcements-image
							img(src="../images/ann2.jpg", alt="")
						.announcements-date.flex-container.flex-justify-content-center
							span.flex-align-self-center 20.03
					p.announcements-title Не дуже довгий заголовок новини або достатньо довгий заголовок
			.announcements-column
				a(href="#").announcements-item
					.announcements-container.flex-container
						.announcements-image
							img(src="../images/ann1.jpg", alt="")
						.announcements-date.flex-container.flex-justify-content-center
							span.flex-align-self-center 20.03
					p.announcements-title Не дуже довгий заголовок новини або достатньо довгий заголовок
				a(href="#").announcements-item
					.announcements-container.flex-container
						.announcements-image
							img(src="../images/ann2.jpg", alt="")
						.announcements-date.flex-container.flex-justify-content-center
							span.flex-align-self-center 20.03
					p.announcements-title Не дуже довгий заголовок новини або достатньо довгий заголовок
				a(href="#").announcements-item
					.announcements-container.flex-container
						.announcements-image
							img(src="../images/ann2.jpg", alt="")
						.announcements-date.flex-container.flex-justify-content-center
							span.flex-align-self-center 20.03
					p.announcements-title Не дуже довгий заголовок новини або достатньо довгий заголовок
		include components/footer