doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title U-LEAD
		link(href='../styles/main.css', rel='stylesheet')
	body
		include components/header
		include components/menu
		section.communities-header-section.flex-container.flex-align-items-center.flex-justify-content-center
			h2.animate Громади
		section.communities-section
			.communities-column
				.communities-item.animate
					img(src="../images/com1.jpg", alt="")
					.communities-info
						h2 Харківська ОТГ	
						p.info-text 
							span.info-text-name Статус
							span.info-value Створено ЦНАП
						p.info-text 
							span.info-text-name Населення
							span.info-value 456
						p.info-text 
							span.info-text-name Робочих місць у ЦНАПі
							span.info-value 17
				.communities-item.animate
					img(src="../images/com2.jpg", alt="")
					.communities-info
						h2 Харківська ОТГ	
						p.info-text 
							span.info-text-name Статус
							span.info-value Створено ЦНАП
						p.info-text 
							span.info-text-name Населення
							span.info-value 456
						p.info-text 
							span.info-text-name Робочих місць у ЦНАПі
							span.info-value 17
			.communities-column
				.communities-item.animate
					img(src="../images/com3.jpg", alt="")
					.communities-info
						h2 Харківська ОТГ	
						p.info-text 
							span.info-text-name Статус
							span.info-value Створено ЦНАП
						p.info-text 
							span.info-text-name Населення
							span.info-value 456
						p.info-text 
							span.info-text-name Робочих місць у ЦНАПі
							span.info-value 17
				.communities-item.animate
					img(src="../images/com4.jpg", alt="")
					.communities-info
						h2 Харківська ОТГ	
						p.info-text 
							span.info-text-name Статус
							span.info-value Створено ЦНАП
						p.info-text 
							span.info-text-name Населення
							span.info-value 456
						p.info-text 
							span.info-text-name Робочих місць у ЦНАПі
							span.info-value 17
		include components/footer
		script(src="../scripts/scrollreveal.min.js")
		script(src="../scripts/animation.js")