doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title U-LEAD
		link(href='../styles/main.css', rel='stylesheet')
	body
		include components/header
		section.create-header-section.flex-container.flex-align-items-center.flex-justify-content-center.flex-direction-column
			h2 Як створити ЦНАП
			h3 Необхідна теоретична база
		section.create-section
			.create-column
				a(href="#").create-item.flex-container
					.create-item-img
						img(src="../images/publ.jpg", alt="")
					.text-container
						p.create-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.create-item-load 
							i.fa.fa-long-arrow-down
							span завантажити
				a(href="#").create-item.flex-container
					.create-item-img
						img(src="../images/pub2.jpg", alt="")
					.text-container
						p.create-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.create-item-load 
							i.fa.fa-long-arrow-down
							span завантажити
				a(href="#").create-item.flex-container
					.create-item-img
						img(src="../images/pub2.jpg", alt="")
					.text-container
						p.create-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.create-item-load 
							i.fa.fa-long-arrow-down
							span завантажити
				a(href="#").create-item.flex-container
					.create-item-img
						img(src="../images/pub2.jpg", alt="")
					.text-container
						p.create-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.create-item-load 
							i.fa.fa-long-arrow-down
							span завантажити
			.create-column
				a(href="#").create-item.flex-container
					.create-item-img
						img(src="../images/pub2.jpg", alt="")
					.text-container
						p.create-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.create-item-load 
							i.fa.fa-long-arrow-down
							span завантажити
				a(href="#").create-item.flex-container
					.create-item-img
						img(src="../images/pub2.jpg", alt="")
					.text-container
						p.create-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.create-item-load 
							i.fa.fa-long-arrow-down
							span завантажити
				a(href="#").create-item.flex-container
					.create-item-img
						img(src="../images/pub2.jpg", alt="")
					.text-container
						p.create-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.create-item-load 
							i.fa.fa-long-arrow-down
							span завантажити
				a(href="#").create-item.flex-container
					.create-item-img
						img(src="../images/pub2.jpg", alt="")
					.text-container
						p.create-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.create-item-load 
							i.fa.fa-long-arrow-down
							span завантажити
		include components/footer