doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title U-LEAD
		link(href='../styles/main.css', rel='stylesheet')
	body
		include components/header
		section.news-header-section.flex-container.flex-align-items-center.flex-justify-content-center
			h2 Новини та події
		section.news-section
			.news-column
				a(href="#").news-item
					.news-item-img
						img(src="../images/new1.jpg", alt="")
					.text-container
						p.news-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.news-item-text Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
						p.news-item-date 20 листопада 2016, 15:50
				a(href="#").news-item
					.news-item-img
						img(src="../images/new1.jpg", alt="")
					.text-container
						p.news-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.news-item-text Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
						p.news-item-date 20 листопада 2016, 15:50
				a(href="#").news-item
					.news-item-img
						img(src="../images/new1.jpg", alt="")
					.text-container
						p.news-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.news-item-text Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
						p.news-item-date 20 листопада 2016, 15:50

			.news-column
				a(href="#").news-item
					.news-item-img
						img(src="../images/new1.jpg", alt="")
					.text-container
						p.news-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.news-item-text Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
						p.news-item-date 20 листопада 2016, 15:50
				a(href="#").news-item
					.news-item-img
						img(src="../images/new1.jpg", alt="")
					.text-container
						p.news-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.news-item-text Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
						p.news-item-date 20 листопада 2016, 15:50
				a(href="#").news-item
					.news-item-img
						img(src="../images/new1.jpg", alt="")
					.text-container
						p.news-item-title Довгий або не дуже довгий заголовок новини заголовок 
						p.news-item-text Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
						p.news-item-date 20 листопада 2016, 15:50
		.news-pagination
			a(href="#") 1
			a(href="#") 2
			a(href="#") 3
			a(href="#") 4
		
		include components/footer