doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title U-LEAD
		link(href='../styles/main.css', rel='stylesheet')
	body
		include components/header
		include components/menu
		section.publication-header-section.flex-container.flex-align-items-center.flex-justify-content-center
			.puclication-header-info
				h2.animate Довгий або не дужедовгий заголовок новини або анонсу
				p.publication-header-date.animate 20 липня 2016, 13:24
				p.publication-header-text.animate.
					Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
		section.publication-section
			.publication-text-block
				h3.animate Все почалося ще дуже давно, коли виникла iдея
				p.animate.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus pulvinar ligula, vitae hendrerit felis. Phasellus vehicula odio placerat erat malesuada tempor. Maecenas rhoncus nibh sed condimentum dapibus. Praesent pulvinar ornare a iaculis. 
			.publication-image.animate
				img(src="../images/img1.jpg", alt="")
			.publication-text-block
				p.animate.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus pulvinar ligula, vitae hendrerit felis. Phasellus vehicula odio placerat erat malesuada tempor. Maecenas rhoncus nibh sed condimentum dapibus. Praesent pulvinar ornare a iaculis. 
				h3.animate Перші спроби
				p.animate.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus pulvinar ligula, vitae hendrerit felis. Phasellus vehicula odio placerat erat malesuada tempor. Maecenas rhoncus nibh sed condimentum dapibus. Praesent pulvinar ornare a iaculis. 
				h4.animate Цікавий випадок
				p.animate.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus pulvinar ligula, vitae hendrerit felis. Phasellus vehicula odio placerat erat malesuada tempor. Maecenas rhoncus nibh sed condimentum dapibus. Praesent pulvinar ornare a iaculis. 
				h3.animate Другі спроби
				p.animate.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus pulvinar ligula, vitae hendrerit felis. Phasellus vehicula odio placerat erat malesuada tempor. Maecenas rhoncus nibh sed condimentum dapibus. Praesent pulvinar ornare a iaculis. 
				p.animate.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus pulvinar ligula, vitae hendrerit felis. Phasellus vehicula odio placerat erat malesuada tempor. Maecenas rhoncus nibh sed condimentum dapibus. Praesent pulvinar ornare a iaculis. 
			.publication-image.animate 
				img(src="../images/img2.jpg", alt="")
			.publication-text-block
				p.animate.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus pulvinar ligula, vitae hendrerit felis. Phasellus vehicula odio placerat erat malesuada tempor. Maecenas rhoncus nibh sed condimentum dapibus. Praesent pulvinar ornare a iaculis. 
			section.publication-share.animate
				span Поділитися:
		include components/footer
		script(src="../scripts/scrollreveal.min.js")
		script(src="../scripts/animation.js")