doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title U-LEAD
		link(href='../styles/main.css', rel='stylesheet')
	body
		include components/header
		section.team-header-section.flex-container.flex-align-items-center.flex-justify-content-center.flex-direction-column
			h2 Команда
			h3 12 професіоналів з України та Європи
		section.team-section.flex-container.flex-justify-content-center
			.team-item 
				.team-item-image
					img(src="../images/team2.jpg", alt=""+ n++ +"")
				.team-item-text
					p.team-item-name Володимир Дудь
					p.team-item-position Управляючий партнер
					a(href="tel:+2242344234") +46 8 452 75 30
					a(href="mailto:km@gmail.com") km@gmail.com 
			.team-item 
				.team-item-image
					img(src="../images/team3.jpg", alt=""+ n++ +"")
				.team-item-text
					p.team-item-name Володимир Дудь
					p.team-item-position Управляючий партнер
					a(href="tel:+2242344234") +46 8 452 75 30
					a(href="mailto:km@gmail.com") km@gmail.com 
			.team-item 
				.team-item-image
					img(src="../images/team2.jpg", alt=""+ n++ +"")
				.team-item-text
					p.team-item-name Володимир Дудь
					p.team-item-position Управляючий партнер
					a(href="tel:+2242344234") +46 8 452 75 30
					a(href="mailto:km@gmail.com") km@gmail.com 
			.team-item 
				.team-item-image
					img(src="../images/team2.jpg", alt=""+ n++ +"")
				.team-item-text
					p.team-item-name Володимир Дудь
					p.team-item-position Управляючий партнер
					a(href="tel:+2242344234") +46 8 452 75 30
					a(href="mailto:km@gmail.com") km@gmail.com 
			.team-item 
				.team-item-image
					img(src="../images/team2.jpg", alt=""+ n++ +"")
				.team-item-text
					p.team-item-name Володимир Дудь
					p.team-item-position Управляючий партнер
					a(href="tel:+2242344234") +46 8 452 75 30
					a(href="mailto:km@gmail.com") km@gmail.com 
			.team-item 
				.team-item-image
					img(src="../images/team3.jpg", alt=""+ n++ +"")
				.team-item-text
					p.team-item-name Володимир Дудь
					p.team-item-position Управляючий партнер
					a(href="tel:+2242344234") +46 8 452 75 30
					a(href="mailto:km@gmail.com") km@gmail.com 
			.team-item 
				.team-item-image
					img(src="../images/team2.jpg", alt=""+ n++ +"")
				.team-item-text
					p.team-item-name Володимир Дудь
					p.team-item-position Управляючий партнер
					a(href="tel:+2242344234") +46 8 452 75 30
					a(href="mailto:km@gmail.com") km@gmail.com 
			.team-item 
				.team-item-image
					img(src="../images/team2.jpg", alt=""+ n++ +"")
				.team-item-text
					p.team-item-name Володимир Дудь
					p.team-item-position Управляючий партнер
					a(href="tel:+2242344234") +46 8 452 75 30
					a(href="mailto:km@gmail.com") km@gmail.com 
			.team-item 
				.team-item-image
					img(src="../images/team3.jpg", alt=""+ n++ +"")
				.team-item-text
					p.team-item-name Володимир Дудь
					p.team-item-position Управляючий партнер
					a(href="tel:+2242344234") +46 8 452 75 30
					a(href="mailto:km@gmail.com") km@gmail.com 
			.team-item 
				.team-item-image
					img(src="../images/team2.jpg", alt=""+ n++ +"")
				.team-item-text
					p.team-item-name Володимир Дудь
					p.team-item-position Управляючий партнер
					a(href="tel:+2242344234") +46 8 452 75 30
					a(href="mailto:km@gmail.com") km@gmail.com 
			.team-item 
				.team-item-image
					img(src="../images/team2.jpg", alt=""+ n++ +"")
				.team-item-text
					p.team-item-name Володимир Дудь
					p.team-item-position Управляючий партнер
					a(href="tel:+2242344234") +46 8 452 75 30
					a(href="mailto:km@gmail.com") km@gmail.com 
			.team-item 
				.team-item-image
					img(src="../images/team3.jpg", alt=""+ n++ +"")
				.team-item-text
					p.team-item-name Володимир Дудь
					p.team-item-position Управляючий партнер
					a(href="tel:+2242344234") +46 8 452 75 30
					a(href="mailto:km@gmail.com") km@gmail.com 
					

		include components/footer