@font-face {
  font-family: 'AvenirNextRegular';
  src: url('./../fonts/AvenirNextCyr-Regular.otf');
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url('./../fonts/AvenirNextCyr-Bold.otf');
}

@font-face {
  font-family: 'AvenirNextMedium';
  src: url('./../fonts/AvenirNextCyr-Medium.otf');
}

@font-face {
  font-family: 'AvenirNextHeavy';
  src: url('./../fonts/AvenirNextCyr-Heavy.otf');
}

@font-face {
  font-family: 'DINProBlack';
  src: url('./../fonts/DINPro-Black.otf');
}

@font-face {
  font-family: 'DINProRegular';
  src: url('./../fonts/DINPro-Regular.otf');
}

@font-face {
  font-family: 'DINProMedium';
  src: url('./../fonts/DINPro-Medium.otf');
}

@font-face {
  font-family: 'DINProLight';
  src: url('./../fonts/DINPro-Light.otf');
}

@font-face {
  font-family: 'DINProBold';
  src: url('./../fonts/DINPro-Bold.otf');
}